<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 开启驼峰命名 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <!-- 采用连接池方式管理数据库连接 -->
            <dataSource type="com.imooc.oa.datasource.DruidDatasourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/imooc-oa?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="12590"/>
            </dataSource>
        </environment>
    </environments>
<mappers>
    <mapper resource="mappers/test.xml"/>
    <package name="com.imooc.oa.mapper"/>
    <package name="com.imooc.oa.dao"/>
</mappers>
</configuration>