<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.imooc.springmvc"/>
    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=utf-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>

    </mvc:annotation-driven>
    <mvc:default-servlet-handler/>

    <!--<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".html"/>
    </bean>-->
    
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.imooc.springmvc.convert.convert"/>
            </set>
        </property>
    </bean>

    <!--&lt;!&ndash; 启用freemarker模板引擎 &ndash;&gt;
    <bean id="ViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        &lt;!&ndash; 设置字符集，解决响应乱码 &ndash;&gt;
        <property name="contentType" value="text/html;charset=utf-8"/>
        &lt;!&ndash; 设置公共后缀 &ndash;&gt;
        <property name="suffix" value=".ftl"/>
    </bean>

    <bean id="freeMarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        &lt;!&ndash; 设置ftl文件默认存储路径 &ndash;&gt;
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
        &lt;!&ndash; 其他模板引擎设置 &ndash;&gt;
        <property name="freemarkerSettings">
            <props>
                &lt;!&ndash; 设置处理数据时使用的字符集 &ndash;&gt;
                <prop key="defaultEncoding">UTF-8</prop>
            </props>
        </property>
    </bean>-->

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.imooc.springmvc.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>